
@media (max-width: 1000px) {
    .card {
        margin-bottom: 50px;
        width: 40%;
    }
    .onbutt {
        height: 30px;
        bottom: 50px;
    }
    .infobuttarif {
        height: 30px;
        bottom: 10px;
    }
    .infobutttxttarif {
        padding-top: 5px;
    }
    .tarif__card-short {
        height: 400px;
        margin-bottom: 30px;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    #info {
        height: 600px;
        width: 75%;
        margin: auto;
        padding-top: 110px;
    }
}

@media (max-width: 750px) {
    #info {
        width: 100%;
        margin: auto;
        height: 600px;
        padding-top: 110px;
    }
    .digitimg {
        height: 60%;
    }
    .forminfo {
        height: 150px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .form__h1 {
        font-size: 25px;
    }
    .form__h2 {
        font-size: 20px;
    }
    .form-info-p {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .forminfo {
        height: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-top: 10px;
        display: flex;
    }
}

@media (max-width: 550px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .digitimg {
        height: 45%;
    }
}

@media (max-width: 400px) {
    .tarif__tabs-button {
        font-size: 14px;
    }
    .digitimg {
        height: 35%;
    }
    .connection-h2 {
        font-size: 17px;
    }
}

@media (max-width: 325px) {
    .card {
        width: 90%;
    }
    .tarif__tabs-button {
        font-size: 12px;
    }
}

@media (min-width: 1000px) {
    .tarif__cards-string {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card {
        height: 100%;
    }
    .tarif__cards-block {
        height: 70%;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {


    

    #infobutplace {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        height: 40%;
        background-position: center;
    }

    .info__sale {
        width: 80%;
        margin-left: 10%;
        background-position: center;
        height: 35%;
    }
    .info__h {
        font-size: 27px;
    }
    .info__p {
        font-size: 18px;
    }
    .infofront {
        font-size: 18px;
    }
    .backtext {
        font-size: 17px;
    }

    .userform {
        width: 100%;
        height: 50%;
    }
    .form-info-icon {
        height: 50px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #maindiv {
        width: 98%;
        left: 1%;
    }
    /* body {
        height: 4420px;
    } */
    #top{
        height: 200px;
    }
    #info{
        height: 400px; 
    }
    #tarif {
        height: 800px;
    }

    .tarif__tabs {
        display: flex;
    }

    .tarif__tabs-string {
        width: 50%;
        justify-content: space-evenly;
    }

    .info__main {
        display: flex;
    }
    #infobutplace {
        margin-left: 4%;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }
    .infobuttarif {
        height: 40px;
    }
    .info__sale {
        margin-left: 0;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }
    .info__h {
        font-size: 30px;
    }
    .info__p {
        font-size: 25px;
    }
    .infofront {
        font-size: 18px;
    }
    #connectioninfo {
        height: 300px;
    }

    .connection-main {
        display: flex;
    }

    h1 {
        font-size: calc(1rem + 2vh);
    }

    h2 {
        font-size: 25px;
    }

    /* .digitimg {
        width: 40%;
        margin-left: 30%;
    } */

    .bonus-info {
        height: 650px;
    }

    .bonus-padding-left {
        padding-left: 15%;
        padding-right: 5%;
    }
    
    .bonus-padding-right {
        padding-right: 15%;
        padding-left: 5%;    
    }

    .bonus-info-h1 {
        font-size: 45px;
    }

    .bonus-info-h2 {
        font-size: 28px;
    }
    
    .bonus-info-p {
        font-size: 20px;
    }

    #techinfo {
        height: 550px;
    }
    .channels {
        height: 700px; 
    }
    #formdiv {
        height: 450px;
    }
    .form-and-info {
        display: flex;
    }
    .forminfo {
        height: 80%;
        width: 40%;
        margin-left: 10%;
        margin-bottom: 20%;
        margin-top: 5%;
    }
    .userform {
        width: 50%;
        height: 100%;
    }
    .form-info-icon {
        margin-top: 5%;
        height: 40%;
    }

    #bottom {
        height: 200px;
    }
    #submitbut {
        width: 26%;
        margin-left: 37%;
        left: 0;
    }
    .infobut{
        width: 50%;
    }
    .onbutt {
        height: 40px;
    }
    .infobutttxttarif {
        padding-top: 10px;
    }

    #infocardback4 {
        margin-top: 5%;
    }
    .backtext {
        font-size: 17px;
    }
    .formfield {
        height: 50px;
        font-size: 20px;
    }
    .descriptiontext{
        font-size:  16px;
    }
    #wifiimg {
        height: 90%;
    }
    #tvimg {
        height: 90%;
    }
    #descriptioul {
        margin-top: 2%; 
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    #maindiv {
        width: 70%;
        left: 15%;
    }
        /* body {
        height: 4400px;
    } */
    #top{
        display: flex;
        height: 14%;
    }
    #logo {
        height: 80%;
        width: 20%;
        left: 30%;
    }
    #contacts {
        top: 25%;
        left: 30%;
        width: 25%;
    }
    .phone {
        font-size: calc(1.5rem + 1vh);
    }
    #info{
        height: 400px; 
    }
    #tarif {
        height: 750px;
    }
    .card {
        width: 35%;
    }
    .tarif__card-short {
        width: 30%;
    }
    .tarif__tabs {
        display: flex;
    }

    .tarif__tabs-string {
        width: 50%;
        justify-content: space-evenly;
    }

    .infofront {
        font-size: 18px;
    }
    #connectioninfo {
        height: 300px;
    }
    .connection-main {
        display: flex;
    }

    .info__main {
        display: flex;
    }

    #infobutplace {
        margin-left: 4%;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }
    .info__sale {
        margin-left: 0;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }

    .info__h {
        font-size: 30px;
    }
    .info__p {
        font-size: 25px;
    }

    h1 {
        font-size: calc(1rem + 2vh);
    }

    h2 {
        font-size: 25px;
    }

    .bonus-info {
        height: 700px;
    }

    .bonus-padding-left {
        padding-left: 15%;
        padding-right: 5%;
    }
    
    .bonus-padding-right {
        padding-right: 15%;
        padding-left: 5%;    
    }

    .bonus-info-h1 {
        font-size: 45px;
    }

    .bonus-info-h2 {
        font-size: 28px;
    }
    
    .bonus-info-p {
        font-size: 20px;
    }

    #techinfo {
        height: 450px;
    }
    .channels {
        height: 700px; 
    }


    #formdiv {
        height: 420px;
    }
    .form-and-info {
        display: flex;
    }
    .forminfo {
        height: 80%;
        width: 40%;
        margin-left: 10%;
        margin-bottom: 20%;
        margin-top: 5%;
    }
    .userform {
        width: 50%;
        height: 100%;
    }
    .form-info-icon {
        margin-top: 5%;
        height: 40%;
    }

    #bottom {
        height: 200px;
    }

    .onbutt {
        margin-left: 15%;
    }
    .infobuttarif {
        margin-left: 15%;
        height: 30px;
    }
    .onbutt {
        height: 30px;
    }
    .infobutttxttarif {
        padding-top: 5px;
    }
    .offbut {
        margin-left: 15%;
    }
    .infocard {
        width: 90%;
        margin-left: 5%;
    }
    .infocardback {
        width: 90%;
        margin-left: 5%;
    }
    #infocardback4 {
        margin-top: 5%;
    }
    .backtext {
        font-size: 14px;
    }
    .formfield {
        height: 50px;
        font-size: 20px;
    }
    .descriptiontext{
        font-size:  16px;
    }
    #wifiimg {
        height: 90%;
    }
    #tvimg {
        height: 90%;
    }
    #descriptioul {
        margin-top: 2%; 
    }
}

@media (min-width: 1400px) {
    #maindiv {
        width: 60%;
        left: 20%;
    }
    /* html, body {
        height: 3600px;
    } */
    #top{
        display: flex;
        height: 13%; 
    }
    
    .info__h {
        font-size: 30px;
    }
    .info__p {
        font-size: 25px;
    }

    .info__main {
        display: flex;
    }

    #infobutplace {
        margin-left: 4%;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }
    .info__sale {
        margin-left: 0;
        height: 100%;
        margin-top: 0;
        width: 48%;
    }

    #logo {
        height: 80%;
        width: 20%;
        left: 30%;
    }
    
    #contacts {
        width: 20%;
        left: 30%;
        top: 25%;
    }
    
    .phone {
        font-size: calc(1.5rem + 1vh);
    }
    
    #info{
        height: 400px;
    }
    #tarif{
        height: 850px;
    }

    .tarif__tabs {
        display: flex;
    }

    .tarif__tabs-string {
        width: 50%;
        justify-content: space-evenly;
    }
    .tarifname {
        font-size: 27px;
    }
    #connectioninfo {
        height: 300px;
    }

    .connection-main {
        display: flex;
    }

    h1 {
        font-size: calc(1rem + 2vh);
    }

    h2 {
        font-size: 25px;
    }

    .bonus-info {
        height: 700px;
    }

    .bonus-padding-left {
        padding-left: 15%;
        padding-right: 5%;
    }
    
    .bonus-padding-right {
        padding-right: 15%;
        padding-left: 5%;    
    }

    .bonus-info-h1 {
        font-size: 45px;
    }

    .bonus-info-h2 {
        font-size: 28px;
    }
    
    .bonus-info-p {
        font-size: 20px;
    }

    #techinfo {
        height: 500px;
    }
    .channels {
        height: 800px;
    }


    #formdiv {
        height: 500px;
    }
    .form-and-info {
        display: flex;
    }
    .forminfo {
        height: 80%;
        width: 40%;
        margin-left: 10%;
        margin-bottom: 20%;
        margin-top: 5%;
    }
    .userform {
        width: 50%;
        height: 100%;
    }
    .form-info-icon {
        margin-top: 5%;
        height: 40%;
    }


    #bottom {
        height: 200px;
    }
    .infofront {
        font-size: 22px;
    }
    .backtext {
        font-size: 17px;
    }
    .infobuttarif {
        height: 40px;
    }
    .onbutt {
        height: 40px;
    }
    .infobutttxttarif {
        padding-top: 10px;
    }
    #wifiimg{
        height: 80%;
        margin-top: 10%;
    }
    #tvimg{
        height: 80%;
        margin-top: 10%;
    }
    .formfield {
        height: 50px;
        font-size: 20px;
    }
    #descriptioul {
        margin-top: 13%; 
    }
    .descriptiontext{
        font-size:  20px;
    }
    
    .tech {
        height: 35%;
        padding-top: 0;
    }
    #submitbut {
        width: 26%;
        margin-left: 37%;
    }
}

@media (min-width: 1400px) and (max-height: 960px) {
    .infofront {
        font-size: 20px;
    }
    #maindiv {
        width: 70%;
        left: 15%;
    }
}